h1, h2, h3, h4, h5 {
color: #ff2f00;
font-family: 'Roboto', sans-serif;
}

th {
  background-color: #F1F1D4 !important;
  font-weight: bolder;
  color: blue;
}

caption, #scoreBoard, th, td{
  border: 2px crimson groove;
  text-align: center;
  border-radius: 9%;
}

li {
  list-style-type: square;

}


  a:hover {
    background-color: #64d9ed;
  text-decoration: none;
  }

  li, label, input{
       list-style: none;
  }

ul#teamRoster > li:first-child{
    background: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;

    z-index: -1;
    opacity: 0.65;
    color:white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-weight: 700;

  }
  ul#teamRoster > li:last-child{
      background: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain;
      z-index: -1;
      opacity: 0.65;
      color:white;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      font-weight: 700;

    }

    ol > li:first-child {
      color: grey;
    }

    td:nth-child(even) {background-color: #5C5C5C}

img:first-child {
    display:none;
  }
